<!doctype html>
<html  class="x-admin-sm">
<head>
	<meta charset="UTF-8">
	<title>后台登录</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="__STATIC__/xadmin/css/font.css">
    <link rel="stylesheet" href="__STATIC__/xadmin/css/login.css">
	  <link rel="stylesheet" href="__STATIC__/xadmin/css/xadmin.css">
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-bg">
    
    <div class="login layui-anim layui-anim-up">
        <div class="message">zyblog 后台管理登录</div>
        <div id="darkbannerwrap"></div>
        
        <form class="layui-form" id="frm-login">
            <input name="name" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" >
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">
            <input name="captcha" type="text" lay-verify="required" placeholder="验证码" style="float: left;width:185px;" class="layui-input">
            <a style="float:right; cursor: pointer">
                <img src="{:url('admin/Login/Verify')}" onClick="this.src=this.src+'?'+Math.random()">
            </a>
            <hr class="hr15">
            <input value="登录" lay-submit lay-filter="login" id="btn-login" style="width:100%;" type="submit">
            <hr class="hr20" >
        </form>
    </div>
    {include file="common/base_js"}
    <script type="text/javascript">
        (function($){
            "use strict";
            function bind_events(){
                $('#btn-login').off("click").on("click",function (e) {
                    e.preventDefault();
                    var _data = $('form#frm-login').serialize();
                    ajax_login(_data);
                });
            }
            function ajax_login(_data){
                $.ajax({
                    url:'{:url("ajax_do_login")}',
                    data:_data,
                    type:"POST",
                    success:function(rsp){
                        console.log(rsp.errmsg);
                        layer.msg(rsp.errmsg);
                        if(rsp.error != 0)return;
                        setTimeout(function(){
                            window.location.href='/admin';
                        },500);
                    }
                })
            }
            $(function () {
                bind_events();
            });
        })(jQuery);
    </script>
</body>
</html>